spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/activity-db
      database: activity-db
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

kafka:
  topic:
    name: activity-events

server:
  port: 8082

services:
  user-service:
    name: user-service
