spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fitness-user
    username: postgres
    password: Pratik@321

  jpa:
    hibernate:
      ddl-auto: update
      database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

server:
  port: 8081
